.wrapper {
  display: flex;
  gap: 20px;
}

.wrapper div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 4px;
  opacity: 0.7;
}

input {
  padding: 8px 10px;
  border-radius: 8px;
  background: #0b1437;
  color: white;
  border: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
}

input:focus {
  border-color: #0048FF;
  outline: none;
}