.navbar {
    background-color: #3B466B10;
    background: linear-gradient(135deg, #050925, #071842, #050925);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 25px;
    margin: 15px 20px 0 15px;
    border-radius: 20px;
    /* max-height: 110px;
    width: 100%; */

}

.heading {
    font-size: 24px;
    font-family: var(--headingFont);
}

.dateDay {
    background-color: #5A689430;
    font-size: 16px;
    padding: 16px 55px;
    border-radius: 12px;
    text-transform: uppercase;
}
