.sidebar {
  width: 260px;
  height: 100vh;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #3B466B10;
  margin: 15px;

  /* background: linear-gradient(
    135deg,
    #050925 0%,
    #071842 50%,
    #050925 100%
  ); */

  /* border: 1px solid rgba(255, 255, 255, 0.07); */
  /* backdrop-filter: blur(10px); */
  /* color: white */
  /* font-family: sans-serif; */
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  font-family: var(--headingFont);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.2s ease;
}

.navItem:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.06);
}

.active {
  background: rgba(255, 255, 255, 0.12);
  opacity: 1;
}

.icon {
  font-size: 18px;
  color: #3478ff;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
}
