.sidebar {
  width: 260px;
  height: 100vh;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #3B466B10;
  background: linear-gradient(135deg, #050925, #071842, #050925);
border: 1px solid rgba(255,255,255,0.1);
backdrop-filter: blur(4px);


  margin: 15px 0 15px 15px;

  /* background: linear-gradient(
    135deg,
    #050925 0%,
    #071842 50%,
    #050925 100%
  ); */

  /* border: 1px solid rgba(255, 255, 255, 0.07); */
  /* backdrop-filter: blur(10px); */
  /* color: white */
  /* font-family: sans-serif; */
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  font-family: var(--headingFont);
  text-align: center;
  position: relative;
  padding: 6px 0 28px 0;
}
.title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ffffff10, #ffffff70, #ffffff10);
  bottom: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* background-color: antiquewhite; */
  height: 100%;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 12px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.2s ease;
  text-decoration: none ;

  span{
  color: #fff;
  }
}

.navItem:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.06);
}

.active {
  background: #5A689430;
  opacity: 1;
}

.icon {
  font-size: 28px;
  color: #0048FF;
  background-color: #5A689430;
  padding: 5px;
  border-radius: 6px;
}

.iconActive{
  background-color: #003DB7;
  color: #fff;
}

.footer {
  padding: 24px 12px 12px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.8;
  position: relative;
}
.footer::after{
content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #ffffff10, #ffffff70, #ffffff10);
  top: 0;
  left: 0;
  right: 0;
}
