.wrapper {
  width: 100%;
  background: linear-gradient(135deg, #050925, #071842, #050925);
  padding: 24px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.1);
  color: white;
  backdrop-filter: blur(4px);
}

.title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  text-align: left;
}

.table tbody td {
  padding: 10px 8px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-size: 15px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 25px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgba(255,255,255,0.2);
}

.done {
  background: #28a745;
  border: none;
  color: white;
}

.miss {
  background: #d9534f;
  border: none;
  color: white;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE + Edge Legacy */
* {
  -ms-overflow-style: none;
}
